form(method="POST", action="/signin")
  p Name
      input(type="text", name="username", placeholder="Enter Email")
  p Password
      input(type="text", name="password", placeholder="Enter Password")
  p
      input(type="submit")
      a(href='/signup') Create An Account
